Code
misc_folder_collection
.wslenv
.vscode
textOCR-mainApp/.wslenv01
textOCR-mainApp/__pycache__
textOCR-mainApp/misc_folder_files
textOCR-trainingTesseract/.wslenvfortraining
textOCR-trainingTesseract/fonts_collection
textOCR-trainingTesseract/misc_folders
textOCR-trainingTesseract/jTessBoxEditor-2.4.1
textOCR-trainingTesseract/training_images_grayscaled
textLabelling-training
textCleaning-training
requirements.txt




